* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.blink-animation {
  animation: shake-animation 4.72s ease infinite;
}

.red-color,
.yellow-color,
.green-color {
  color: #e63946;
  font-weight: bold;
  font-size: 1.5rem;
}

.yellow-color {
  color: #ffb703;
}

.green-color {
  color: #2b9348;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shake-animation {
  0% {
    transform: translate(0, 0);
  }
  1.78571% {
    transform: translate(5px, 0);
  }
  3.57143% {
    transform: translate(0, 0);
  }
  5.35714% {
    transform: translate(5px, 0);
  }
  7.14286% {
    transform: translate(0, 0);
  }
  8.92857% {
    transform: translate(5px, 0);
  }
  10.71429% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
/* Players */
.players {
  width: 100%;
  height: 100%;
  font-family: "Roboto Mono", monospace;
  display: grid;
  justify-items: center;
  grid-column: 1/2;
  grid-row: 2/3;
  place-self: center;
  text-transform: capitalize;
  padding: 2rem 2rem;
}
.players .playerName,
.players .computer {
  width: 80%;
  height: 80%;
  color: #1d3557;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5rem;
  border-radius: 0.2rem;
}
.players .playerName .img-box,
.players .computer .img-box {
  min-width: 4.6rem;
  max-width: 4.6rem;
  height: 4.6rem;
  border: 2px solid #1d3557;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s linear;
}
.players .playerName .img-box .fa-user,
.players .computer .img-box .fa-user {
  font-size: 2.8rem;
  text-align: center;
}
.players .playerName .img-box.show-turn,
.players .computer .img-box.show-turn {
  border: 2px solid #ffb703;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.players .playerName .img-box img,
.players .computer .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 50%;
}
.players .playerName .text,
.players .computer .text {
  width: 11rem;
  height: 5rem;
  line-height: 1.3;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  padding: 5px 10px;
}
.players .inDraw {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  line-height: 1.8;
  border-top: 0.2em solid rgba(69, 123, 157, 0.8);
}

/* Board */
.board {
  width: 37.5rem;
  height: 37.5rem;
  pointer-events: none;
  display: grid;
  grid-gap: 5px;
  grid-column: 2/2;
  grid-row: 2/3;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border-radius: 5px;
  position: relative;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background-color: #1d3557;
  -webkit-animation: fade-in 1.5s;
  -moz-animation: fade-in 1.5s;
  -o-animation: fade-in 1.5s;
  animation: fade-in 1.5s;
}
.board .box {
  pointer-events: all;
  border-radius: 0.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  background-color: #a8dadc;
}
.board .box.mouse-block {
  pointer-events: none;
}

.reset {
  width: 100%;
  height: 12rem;
  display: grid;
  place-items: center;
  grid-column: 3/3;
  grid-row: 2/3;
  z-index: 1;
}
.reset .reset-div {
  width: 70%;
  height: 35%;
  border-radius: 0.5rem;
  background-color: transparent;
  transition: all 0.1s linear;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.reset .reset-div .fas {
  font-size: 2rem;
  color: #1d3557;
}
.reset .reset-div .reset-btn {
  width: 4.5rem;
  height: 100%;
  background-color: rgba(168, 218, 220, 0.8549019608);
  font-size: 4rem;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s linear;
  font-family: inherit;
  font-weight: 600;
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
  opacity: 0.9;
}
.reset .reset-div .reset-btn.active-side {
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}
.reset .reset-div .reset-btn:hover {
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}
.reset .reset-div .reset-btn:active {
  transform: translateY(1px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* Footer */
footer {
  width: 100%;
  height: 7vh;
  display: grid;
  place-content: center;
  grid-column: 2/3;
  grid-row: 3/4;
  font-size: 0.7rem;
  color: rgba(29, 53, 87, 0.8235294118);
  font-family: sans-serif;
}
footer a {
  text-decoration: none;
  color: #e63946;
  font-family: "Lobster", cursive;
  letter-spacing: 1px;
  font-size: 0.8rem;
}

/* WIN line */
.winLine {
  background-color: #e63946;
  width: 100%;
  height: 0.7rem;
  position: absolute;
  border-radius: 5px;
  visibility: hidden;
  transition: none;
}

/* Horizontal Win */
.horizontalTopWin {
  visibility: visible;
  top: 15.5%;
  left: 0;
}

.horizontalMidWin {
  visibility: visible;
  top: 49.5%;
  left: 0;
}

.horizontalBotWin {
  visibility: visible;
  bottom: 15.5%;
  left: 0;
}

/* Vertical Win */
.verticalLeftWin {
  visibility: visible;
  top: 49.2%;
  left: -34%;
  transform: rotate(90deg);
}

.verticalMidWin {
  visibility: visible;
  top: 49.2%;
  left: 0;
  transform: rotate(90deg);
}

.verticalRightWin {
  visibility: visible;
  top: 49.2%;
  right: -33.5%;
  transform: rotate(90deg);
}

/* Angle Win */
.rightAngleWin {
  visibility: visible;
  top: 49%;
  left: 0;
  transform: rotate(135deg);
}

.leftAngleWin {
  visibility: visible;
  top: 49%;
  left: 0;
  transform: rotate(-135deg);
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(69, 123, 157, 0.8901960784);
  display: grid;
  place-items: center;
  transition: all 0.3s linear;
  visibility: visible;
  z-index: 10;
}
.modal-overlay.close-modal {
  visibility: hidden;
  z-index: -10;
}

.modal-container {
  background: #f1faee;
  border-radius: 0.5rem;
  width: 45vw;
  height: 65vh;
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  /* Select Side */
}
.modal-container h1 {
  background-color: #a8dadc;
  text-align: center;
  width: 85%;
  margin: 0 auto;
  border-radius: 0.5rem;
  font-family: "Roboto Mono", monospace;
  padding: 0 0.3rem 0.3rem 0.3rem;
}
.modal-container .name-input {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.modal-container .name-input h2 {
  font-family: "Roboto Mono", monospace;
}
.modal-container .name-input input {
  width: 40%;
  background-color: transparent;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-size: 1.3rem;
  font-weight: bold;
  border-bottom: 2px solid #a8dadc;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  margin-left: 2rem;
  box-shadow: 0px 14px 6px -10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
}
.modal-container .name-input input::placeholder {
  color: #e63946;
}
.modal-container .name-input input:focus {
  box-shadow: 0px 8px 6px -5px rgba(0, 0, 0, 0.3);
}
.modal-container .btns-container {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.modal-container .btns-container button {
  width: 15rem;
  height: 100%;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 1.6rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 0.5rem;
  transition: all 0.2s linear;
  background-color: hsl(212deg, 33%, 89%);
  transition: all 0.2s linear;
}
.modal-container .btns-container button.btn-start.done {
  cursor: pointer;
  background-color: #a8dadc;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.modal-container .btns-container button.btn-start.block {
  pointer-events: none;
  cursor: default;
}
.modal-container .btns-container button.btn-cancel {
  cursor: pointer;
}
.modal-container .btns-container button.btn-cancel.hide {
  display: none;
}
.modal-container .btns-container button.btn-cancel:hover {
  background-color: #a8dadc;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.modal-container .btns-container button:active {
  transform: translateY(1px);
}
.modal-container .container-select-side {
  width: 50%;
  height: 30%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}
.modal-container .container-select-side .select-side {
  width: 13rem;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.modal-container .container-select-side .select-side .sideX,
.modal-container .container-select-side .select-side .sideO {
  width: 48%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  font-family: "Architects Daughter", cursive;
  transition: all 0.3s linear;
  border-radius: 5px;
  border: 3px solid #a8dadc;
}
.modal-container .container-select-side .select-side .sideX.chosenSide,
.modal-container .container-select-side .select-side .sideO.chosenSide {
  width: 100%;
  cursor: default;
  background-color: #a8dadc;
}
.modal-container .container-select-side .select-side .sideX.vsSide,
.modal-container .container-select-side .select-side .sideO.vsSide {
  visibility: hidden;
  width: 0;
  opacity: 0;
}
.modal-container .container-select-side .select-side .sideX:hover,
.modal-container .container-select-side .select-side .sideO:hover {
  cursor: pointer;
  background-color: #a8dadc;
}
.modal-container .container-select-side .back-btn {
  width: 15%;
  height: 100%;
  font-size: 2.5rem;
  color: hsl(214deg, 22%, 85%);
  transition: all 0.3s linear;
  visibility: hidden;
  transform: translateX(35px);
  position: absolute;
  right: 0;
  top: 20%;
}
.modal-container .container-select-side .back-btn .fas.btn-visibility {
  visibility: visible;
}
.modal-container .container-select-side .back-btn:hover {
  cursor: pointer;
  color: #e63946;
  text-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

html {
  font-family: "Architects Daughter", cursive;
}

body {
  width: 100%;
  background-color: #f1faee;
}

main {
  width: 100%;
  height: 100vh;
  background-color: #f1faee;
  display: grid;
  grid-template-columns: 1fr 37.5rem 1fr;
  grid-template-rows: 1fr 37.5rem 1fr;
}

/*# sourceMappingURL=style.css.map */
