$primary-bcg: #f1faee;
$secondary-bcg: #a8dadc;
$primary-color: #1d3557;
$secondary-color: #457b9dcc;
$error-color: #e63946;
$yellow-color: #ffb703;
$green-color: #2b9348;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.blink-animation {
  animation: shake-animation 4.72s ease infinite;
}

.red-color,
.yellow-color,
.green-color {
  color: $error-color;
  font-weight: bold;
  font-size: 1.5rem;
}

.yellow-color {
  color: $yellow-color;
}

.green-color {
  color: $green-color;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes shake-animation {
  0% {
    transform: translate(0, 0);
  }
  1.78571% {
    transform: translate(5px, 0);
  }
  3.57143% {
    transform: translate(0, 0);
  }
  5.35714% {
    transform: translate(5px, 0);
  }
  7.14286% {
    transform: translate(0, 0);
  }
  8.92857% {
    transform: translate(5px, 0);
  }
  10.71429% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
